* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: powderblue;
  margin: 20px;
}

body {
  border: 2px solid red;
  background-color: chartreuse;
}

.title {
  color: palevioletred;
  background-color: rgba(0, 255, 255, 0.644);
  padding: 20px;
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

li {
  list-style: none;
}

a {
  display: block;
}
