* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: powderblue;
  margin: 20px;
}

body {
  border: 2px solid red;
  background-color: chartreuse;
}

.title {
  color: palevioletred;
  background-color: rgba(0, 255, 255, 0.644);
  padding: 20px;
  text-align: center;
}

img {
  height: 100px;
  width: 160px;
  margin: 10px;
}

ul {
  margin-left: 50px;
  display: inline-flex;
}

li {
  width: fit-content;
  list-style: none;
  border: 2px solid blue;
  text-align: center;
}

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 20px;
  animation: 10s green linear infinite;
  background: gray;
  text-decoration: none;
  display: block;
}
